@font-face {
    font-family: 'Martian Mono';
    font-weight: normal;
    src: url('/fonts/MartianMono-StdRg.woff2') format('woff2');
    size-adjust: 120%;
}

@font-face {
    font-family: 'Martian Mono';
    font-weight: bold;
    src: url('/fonts/MartianMono-StdBd.woff2') format('woff2');
    size-adjust: 120%;
}

:root {
  --white: #f0f0f0;
  --black: #111;
  --gray: #424242;
  --grey: #424242;

  --light-gray: #8f8f8f;
  --light-grey: #8f8f8f;

  --dark-gray: #2a2a2a;
  --dark-grey: #2a2a2a;

  --blue: #285b9e;
  --green: #1fb63c;
}

* {
  font-family: "Martian Mono", monospace, sans-serif;
  font-size: 14px;
  color: var(--white);
}

body {
  background-color: var(--black);
  margin: 0;
}

a {
  padding: 0 8px;
  margin: 0;
}

a.active {
  background-color: #163986;
}

:is(h1,h2,h3,h4,h5,h6,span,p) a {
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.container {
  display: flex;
  gap: 0.8rem;
}

.lg-row {
  flex-direction: row;
}

.lg-col {
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

a.plain {
  padding: 0;
  margin: 0;
}

/* Light mode */
body.light * {
  color: var(--black);
}

body.light {
  background-color: var(--white);
}

body.light a.active {
  background-color: #7e88fa;
}

/* section */

section {
  border: 1px var(--white) solid;
  padding: 0.3rem 0.6rem;
  padding-top: 20px;

  flex-grow: 1;
  flex-shrink: 0;

  max-width: 600px;
  width: 100%;
}

section > h1:first-child {
  font-size: 14px;
  padding: 0 10px;
  margin: 0;
  margin-top: -30px;
  font-weight: normal;
  background-color: var(--black);
  float: left;
}

section > .scrollable {
  max-height: 800px;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;

  padding: 0;
}

/* header & footer */

header {
  background-color: #161616;
  height: 20px;

  padding: 0 8px;

  display: flex;
}

.link-section {
  flex-grow: 1;
  flex-shrink: 0;
}

.extra-section {
  flex-shrink: 0;
}

body.light section {
  border-color: var(--black);
}

body.light section > h1:first-child {
  background-color: var(--white);
}

body.light header {
  background-color: #eaeaea;
}

body.light #light-mode {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  display: flex;

  padding: 4px 0;
  background-color: var(--black);
}

body.light footer {
  background-color: var(--white);
}

footer * {
  color: var(--light-gray);
}

body.light footer * {
  color: var(--dark-gray);
}

/* responsive */

@media screen and (width < 1000px) {
  .lg-row {
    flex-direction: column;
  }
}
