:root {
  --white: #f0f0f0;
  --black: #111;
  --gray: #424242;

  --blue: #285b9e;
  --green: #1fb63c;
}

* {
  font-family: "Martian Mono", monospace;
  font-size: 14px;
  color: var(--white);
}

body {
  background-color: var(--black);
  margin: 0;
}

a {
  padding: 0 8px;
  margin: 0;
}

a.active {
  background-color: #163986;
}

.container {
  display: flex;
  gap: 0.8rem;
}

.lg-row {
  flex-direction: row;
}

.lg-col {
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

/* highlights */

.hl-n {
  color: #1eb1e2;
}

/* section */

section {
  border: 1px var(--white) solid;
  padding: 0.3rem 0.6rem;
  padding-top: 20px;

  flex-grow: 1;
  flex-shrink: 0;

  max-width: 600px;
}

section > h1:first-child {
  font-size: 14px;
  padding: 0 10px;
  margin: 0;
  margin-top: -30px;
  font-weight: normal;
  background-color: var(--black);
  float: left;
}

/* header & footer */

header {
  background-color: #161616;
  height: 20px;

  padding: 0 8px;

  display: flex;
}

.link-section {
  flex-grow: 1;
  flex-shrink: 0;
}

.extra-section {
  flex-shrink: 0;
}

/* responsive */

@media (prefers-color-scheme: light) {
  :root {
  }

  * {
    color: var(--black);
  }

  body {
    background-color: var(--white);
  }

  a.active {
    background-color: #7e88fa;
  }

  section {
    border-color: var(--black);
  }

  section > h1:first-child {
    background-color: var(--white);
  }

  header {
    background-color: #eaeaea;
  }

  #light-mode {
    display: none;
  }
}

@media screen and (width < 420px) {
  .lg-row {
    flex-direction: column;
  }
}
