/* highlights */

.hl-blue {
  color: #1eb1e2;
}

.hl-teal {
  color: #1ee291;
}

.hl-violet {
  color: violet;
}

.hl-orange {
  color: orange;
}

/* highlights - brands */

.hl-html {
  color: #e34c26;
}

.hl-css {
  color: rebeccapurple;
}

.hl-js {
  color: #f0db4f;
}

.hl-ts {
  color: #3178c6;
}

.hl-rust {
  color: #dea584;
}

.hl-go {
  color: #79d4fd;
}

.hl-python {
  color: #366994;
}

.hl-zig {
  color: #f7a41d;
}

.hl-bun {
  color: #fbf0df;
}

.hl-preact {
  color: #673ab8;
}

.hl-hono {
  color: #ff5218;
}

.hl-cf {
  color: #f6821f;
}

.hl-mdx {
  color: #fcb32c;
}

.hl-vite {
  color: #8a75fe;
}

@media (prefers-color-scheme: light) {
  .hl-js, .hl-bun {
    -webkit-text-stroke: 1px var(--gray);
  }
}

