.main-container {
  padding: 0.6rem;
  
  display: flex;
  
  align-content: center;
  justify-content: center;
}

#projects-section .project {
  padding: 6px 6px;

  line-height: 1;
}

#tamacowchi-house {
  width: 28rem;

  flex-grow: 0;
}

#bottom-bar {
  min-height: 15rem;
}

#contact-list {
  list-style-type: none;

  display: flex;
  flex-direction: row;
}

.contact-icon {
  width: 1rem;
  filter: invert(100%);
  margin-inline-end: 4px;
}

@media (prefers-color-scheme: light) {
  .contact-icon {
    filter: unset;
  }

  #projects-section .project {
    border-bottom: 1px var(--black) solid;
  }
}

@media screen and (width < 800px) {
  #tamacowchi-house {
    width: 20rem;
  }
}

@media screen and (width < 420px) {
  #tamacowchi-house {
    width: unset;
  }
}
