:root {
  --cmd-length: 6;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  48% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  98% {
    opacity: 0;
  }
}

@keyframes cmd-morph {
  from {
    width: 0;
  }

  to {
    width: calc(10px * var(--cmd-length));
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.main-container {
  padding: 0.6rem;
  
  display: flex;
  
  align-content: center;
  justify-content: center;
}

#right-grid {
  width: 28rem;
}

#projects-section .project {
  padding: 6px 6px;

  line-height: 1;
}

#tamacowchi-house {
  flex-grow: 0;
}

#bottom-bar {
  min-height: 15rem;
}

#contact-list {
  list-style-type: none;

  display: flex;
  flex-direction: row;
}

.contact-icon {
  width: 1rem;
  filter: invert(100%);
  margin-inline-end: 4px;
}

/* bootup */

#cli-input {
  display: inline-flex;
  line-height: 1;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  animation: 300ms cmd-morph steps(var(--cmd-length)) both;
  animation-delay: 200ms;
}

.cli-cursor {
  line-height: 1;
  animation: 1s blink linear 0.50 forwards;
}

#main-container {
  animation: 550ms appear linear;
}

/* end bootup */

/* tamacowchi */
#tamacowchi-house {
  position: relative;
}

#tamacowchi {
  position: absolute;
  bottom: 0;
  right: 0;

  user-select: none;
  cursor: pointer;
}

.turned-img {
  width: 7rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

/* end tamacowchi */

@media (prefers-color-scheme: light) {
  .contact-icon {
    filter: unset;
  }
}

@media screen and (width < 800px) {
  #right-grid {
    width: 20rem;
  }
}

@media screen and (width < 1000px) {
  #right-grid {
    width: unset;
  }

  #tamacowchi-house {
    height: 14rem;
  }

  section {
    width: unset !important;
  }
}
